**/.pytest_cache
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.coverage
**/.cache
.git
**/.gitignore
.github
.idea
.vscode
logs
web
*.cmd
emib.ini
*.code-workspace
.dockerignore
Dockerfile
Makefile.local
